<:Title>
  Home

<:Body>
  {{ if page._game.winner_string.present? }}
    <div class="alert alert-info">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <p>{{ page._game.winner_string }}</p>
    </div>
  {{ end }}

  <h1>You are {{ page._game.player.wins }} and {{ page._game.player.losses }}</h1>
  <div class="card-set">
    <strong>Dealer:</strong>
    <ul class="playingCards simpleCards table">
      <div class="hand-lineup">
        {{ page._game.cards.each_with_index do |card, i| }}
          {{ if i == 0 && page._game.player_turn? }}
            <li class="card back">*</li>
          {{ else }}
            <:card rank="{{ card.rank }}"
                suit="{{ card.suit }}"
            />
          {{ end }}
        {{ end }}
      </div>
    </ul>
  </div>
  <div class="card-set">
    <strong>Your hand: ({{ total(page._game.player.cards) }})</strong>
    <ul class="playingCards simpleCards table">
      <div class="hand-lineup">
        {{ page._game.player.cards.each do |card| }}
          <:card rank="{{ card.rank }}"
                suit="{{ card.suit }}"
          />
        {{ end }}
      </div>
    </ul>
  </div>
  {{ if total(page._game.player.cards) <= 21 }}
    <button class="btn btn-default" e-click="hit">Hit</button>
    <button class="btn btn-default" e-click="computer_turn">Stand pat</button>
  {{ else }}
    <button class="btn btn-default" e-click="reset_game">Play again</button>
  {{ end }}
  
